<html>
<head><title>Welcome to Meerkat!</title></head>
<body>
<h1>Welcome to Meerkat!</h1>
<p>This is a PyPI compatible package index serving {{total_packages}} packages.</p>

<p> To use this server with pip, run the the following command:
<blockquote><pre>
pip install --extra-index-url http://scmesos06:3141/ PACKAGE [PACKAGE2...]
</pre>
</blockquote>
</p>

<p> To use this server with easy_install, run the the following command:
<blockquote><pre>
easy_install -i http://scmesos06:3141/simple/ PACKAGE
</pre>
</blockquote>
</p>

<p>The complete list of all packages can be found <a href="/packages/">here</a>
    or via the <a href="/simple/">simple</a> index.</p>


</body>
</html>

